.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 32px;
  align-self: flex-start;
  font-weight: normal;
}

.signup {
  padding: 16px;
  padding-bottom: 40px;
  font-size: 14px;
  width: 100%;
}

.form .button {
  margin-top: 16px;
  align-self: center;
}

.error {
  font-size: 12px;
}
