<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cronologus</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global-styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='homepage.css') }}"
    />
  </head>
  <body>
    <div data-date="{{date}}" class="root">
      <header class="header">
        <button class="button menu">
          <img src="{{ url_for('static', filename='/assets/menu.svg') }}" />
        </button>
        <h1 class="title">Mês</h1>
        <button class="button change-visualization">
          <div class="image"></div>
          semana
        </button>
      </header>
      <div class="calendar">
        <ul class="weekdays">
          <li class="weekday">D</li>
          <li class="weekday">S</li>
          <li class="weekday">T</li>
          <li class="weekday">Q</li>
          <li class="weekday">Q</li>
          <li class="weekday">S</li>
          <li class="weekday">S</li>
        </ul>
        <div class="days"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/homepage-week.js') }}"></script>
  </body>
</html>
