<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cronologus</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global-styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='signup.css') }}"
    />
  </head>

  <body>
    <div class="root">
      <h1 class="title">Cadastre-se</h1>
      <form class="form">
        <div class="input-group">
          <label>Usuário</label>
          <input type="text" placeholder="Digite seu usuário" />
        </div>
        <div class="input-group">
          <label>E-mail</label>
          <input type="email" placeholder="Digite seu e-mail" />
        </div>
        <div class="input-group">
          <label>Senha</label>
          <input type="password" placeholder="Digite sua senha" />
        </div>
        <div class="input-group">
          <label>Confirmar senha</label>
          <input type="password" placeholder="Confirme sua senha" />
        </div>

        <button class="button secondary" type="submit">Cadastrar</button>
      </form>

      <span class="login"
        >Já possui uma conta?
        <a href="/login"> Clique aqui para fazer login.</a></span
      >
    </div>
  </body>
</html>
